<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>PhiloPet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Include in CSS font-family: 'Raleway', sans-serif; -->
	    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</head>

<body>
	<div class="container">
		<br>
		<div class="row">
			<div class="col s4">
					<img src="http://i.imgur.com/fRlgNEE.jpg" alt="Temporary Profile Image">
			</div>
			<div class="col s8">
				<h2>Susan Heiniger</h2>
				<h3>Owner and lover to pets everywhere</h3>
				<a class="waves-effect waves-light btn-large"><i class="material-icons left">mode_edit</i>Add a Pet</a>
			</div>
		</div>

		<div class="divider"></div>
		<br>

		<div class="row">
			<div class="col s4">
				<a href="https://www.w3schools.com">
					<div class="card horizontal">
						<div class="card-image">
							<img src="http://i.imgur.com/zOlVHPK.jpg">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<p>Pet name here.</p>
								<p>Pet DOB here.</p>
								<p>Pet's favorite toy here.</p>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col s4">
				<a href="https://www.w3schools.com">
					<div class="card horizontal">
						<div class="card-image">
							<img src="http://i.imgur.com/U2fngtK.jpg">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<p>Pet name here.</p>
								<p>Pet DOB here.</p>
								<p>Pet's favorite toy here.</p>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col s4">
				<a href="https://www.w3schools.com">
					<div class="card horizontal">
						<div class="card-image">
							<img src="http://i.imgur.com/WomyThW.jpg">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<p>Pet name here.</p>
								<p>Pet DOB here.</p>
								<p>Pet's favorite toy here.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<style>
		
		body {
			font-family: 'Raleway', sans-serif;
	}

	</style>
</body>
</html>