<!DOCTYPE html>
<html>

<head>
    <title>My Profile</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Linking to CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col s4">
                <span id="user-image"></span>
            </div>
            <div class="col s8">
                <h2><span id="user-name"></span></h2>
                <p><span id="user-contact-info"></span></p>
                <button class="waves-effect waves-light btn-large"><i class="material-icons left">mode_edit</i>Edit Your Information</button>
                <a class="waves-effect waves-light btn-large"><i class="material-icons left" href="/add-pet">mode_edit</i>Add a Pet</a>
            </div>
        </div>
        <div class="divider"></div>
        <br>
        <div id="display-pets"></div>
    </div>
</body>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<!-- Custom JavaScript -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/user.js"></script>

</html>