/*Color Palette Shortcut

light blue: #d0dfe4
dark blue/green: #33575b
dark brown: #2e0a05
light tan: #ecc78d
lighter tan: #f8eedc;
camel: #ad6a1d
*/



div.card.horizontal {
	background-color: #f8eedc;
}

a {
	color: #2e0a05 !important;
}

/*Cards*/