/*Login*/

html, body {
/*	font-family: 'Raleway', sans-serif;
*/	font-family:'Raleway', sans-serif;
	background-color: #d0dfe4;
	max-width: 100%;
	overflow-x: hidden;
}

#title {
	color: #33575b;
	font-family: 'Ubuntu', sans-serif;
	font-size: 150px;
}

#signin-box {

	padding: 50px;
	border-radius: 25px;
	width: 1000px;
	background-color: rgba(236,199,141, .7);
}

label {
	color: #33575b;
}

.waves-effect.waves {
      background-color: #33575b;
    }

a {
    color: #33575b;
    cursor: pointer;
}

nav {
    height: 50px;
}


.input-field label {
  color: #33575b;
}


/* label focus color */
 .input-field input:focus + label {
   color: #33575b !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px #33575b !important;
   box-shadow: 0 1px 0 0 #33575b !important;
 }


img {
	height: 300px;
	width: 300px;

 /*About and FAQ*/
}

/*Navs in main*/

nav, .page-footer, .footer-copyright, .page-footer .footer-copyright {
	background-color: #33575b;
	color: #33575b;
	box-shadow: none;
}



/*footer*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer.page-footer {
	padding: 10px 30px 0px 30px;
	margin-top: 30px;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

div.row {
  margin: 0px;
}

a.brand-logo {
  font-size: 50px;
  padding-left: 0px;
}

@media only screen and (max-width: 600px) {

  #title {
    font-size: 75px;
  }






































